#viewer {

}

.navigation-item {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.menu-tool-bar {
  z-index: 2;
  display: flex;
  top: 0;
  left: 0;
}

.menu-tab-group {
  height: calc(100% - 50px);
}

.navigation-item {
  padding: 10px 10px 10px 10px;
}

.main-container {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

.drawer-container {
  height: 100%;
  max-width: calc(100vw * 0.75);
  min-width: calc(100vw * 0.1);
}

.menu-tool-bar-button {
  padding: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.main-search-button {
  padding: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contain-tool-bar-button {
  padding: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  border-radius: 5px;
  top: 0;
  right: 0;
  z-index: 1;
  /* opacity: 0.5; */
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.drag-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.search-button {
  outline: none;
  padding: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.bookreader-search-res-view {
  height: calc(100% - 140px);
  overflow-y: auto;
}

.bookreader-search-form-view {
  width: 100%;
}

.bookreader-search-res-item-view {
  padding: 10px;
  border: solid 1px #ccc;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
