<mat-sidenav-container class="main-container">
  <mat-sidenav  onselectstart="return false" #drawer class="drawer-container" [(opened)]="opened">
    <div class="tool-bar">
      <button mat-raised-button color="primary" (click)="uploadFileClick()">
        <input #inputfile style="display: none" type="file" (change)="processFiles($event)" accept="file/*,.epub">
        上传文件
      </button>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </div>
    <div *ngIf="navigationData" style="top:40px;height: 100px;">
      <div matRipple class="navigation-item" *ngFor="let navigation of navigationData.toc"
        (click)="selectNavigation($event, navigation)">
        {{ navigation.label }}
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content appTouchScreenEvent (touchOnMove)="touchOnMove($event)" (onclick)="drawer.toggle()"
    (touchOnStart)="touchOnStart($event)" (touchOnEnd)="touchOnEnd($event)">
    <div id="viewer" #mainDiv>
      <div class="drag-box" matTooltip="Open navigation" (click)="drawer.toggle()">
        目录
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
