<div class="tool-bar">
  <button mat-raised-button color="primary" (click)="uploadFileClick()">
    <input #inputfile style="display: none" type="file" (change)="processFiles($event)" accept="file/*,.epub">
    上传文件
  </button>
  <button mat-raised-button color="primary" (click)="previewPage()" [disabled]="navigationData===null">
    Preview
  </button>
  <button mat-raised-button color="primary" (click)="nextPage()" [disabled]="navigationData===null">
    Next
  </button>
  <button mat-raised-button color="{{drawer.opened?'accent':'primary'}}" (click)="drawer.toggle()" [disabled]="navigationData===null">
    目录
  </button>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="drawer-container">
    <mat-list *ngIf="navigationData">
      <mat-list-item class="navigation-item" *ngFor="let navigation of navigationData.toc" (click)="selectNavigation($event, navigation)">
        {{ navigation.label }}
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
      <div id="viewer" #mainDiv class="main-div scrolled" appTouchScreenEvent (touchOnMove)="touchOnMove($event)"
      (touchOnStart)="touchOnStart($event)" (touchOnEnd)="touchOnEnd()">
      </div>
  </mat-drawer-content>
</mat-drawer-container>
