<mat-card class="bookreader-result-card">
  <mat-card-content class="bookreader-child-input-view">
    <h2>Font Size</h2>
    <mat-slider class="bookreader-child-input-view" thumbLabel [displayWith]="formatLabel" tickInterval="150" min="50" (change)="fontSizeChange($event)"
      [(ngModel)]="value" max="200"></mat-slider>
  </mat-card-content>
  <mat-form-field class="bookreader-child-input-view">
    <mat-label>Main page navigation button opacity, 0 is transparent, 1 is opaque. Input range 0 ~ 1, example 0.5
    </mat-label>
    <input maxlength="3" type="number" matInput placeholder="Main page navigation button opacity"
      [(ngModel)]="mainNavigationButtonOpacity">
  </mat-form-field>
</mat-card>
<div class="dialog-bottom">
  <button mat-button (click)="dismissDialog()">Cancel</button>
  <button mat-raised-button class="dialog-button-delete" (click)="confirm()">Confirm</button>
</div>
