// 引入material的theming，其中包含了混入器
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// 导入核心混入器，确保只导入一次
@include mat-core();

// // 定义主调色板
// $candy-app-primary: mat-palette($mat-indigo);
// // 强调调色板
// $candy-app-accent:  mat-palette($mat-pink, A50, A50, A50);
// // 创建一个light主题
// $candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// // 将candy-app-theme定义成默认主题
// @include angular-material-theme($candy-app-theme);


// 定义个深色主题.
$dark-primary: mat-palette($mat-gray);
$dark-accent: mat-palette($mat-blue-gray, A700, 100, A900);
$dark-warn: mat-palette($mat-pink, A500, A100, A900);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.bookreader-dark-theme {
  @include angular-material-theme($dark-theme);
  $primary: map-get($dark-theme, primary);
  $accent: map-get($dark-theme, accent);
  $warn: map-get($dark-theme, warn);
  color: white;
}

$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-pink, A500, A900, A100);
$light-warn: mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.bookreader-light-theme {
  @include angular-material-theme($light-theme);
  $primary: map-get($dark-theme, primary);
  $accent: map-get($dark-theme, accent);
  $warn: map-get($dark-theme, warn);
}

// custom background and foreground palettes
$bookreader-amber-theme-background: (status-bar: burlywood,
  app-bar: map_get($mat-amber, 200),
  background: burlywood,
  background-color:burlywood,
  hover: rgba(white, 0.04),
  card: burlywood,
  dialog:burlywood,
  disabled-button: $white-12-opacity,
  raised-button: burlywood,
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  text: black,
);

$bookreader-amber-theme-foreground: (base: bisque,
  divider: $white-12-opacity,
  dividers: $white-12-opacity,
  background: bisque,
  background-color:bisque,
  disabled: rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text: rgba(white, 0.3),
  hint-text: rgba(white, 0.3),
  secondary-text: rgba(white, 0.7),
  icon: bisque,
  icons: bisque,
  text: black,
  slider-min: black,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-bookreader-amber-theme($primary, $accent, $warn: mat-palette($mat-red)) {
  @return (primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $bookreader-amber-theme-foreground,
    background: $bookreader-amber-theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-wonky-theme instead of mat-light-theme
$bookreader-amber-theme-primary: mat-palette($mat-gray, 500, 300, 900);
$bookreader-amber-theme-accent: mat-palette($mat-gray, 700, 300, 900);
$bookreader-amber-theme-warn: mat-palette($mat-red);

$bookreader-amber-theme: create-bookreader-amber-theme($bookreader-amber-theme-primary, $bookreader-amber-theme-accent, $bookreader-amber-theme-warn);

@include angular-material-theme($bookreader-amber-theme);

.bookreader-amber-theme {
  @include angular-material-theme($bookreader-amber-theme);
}
