/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html,
body {
  margin: 0;
  font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  height: 100%;
  width: 100%;
}

#viewer .ebup-container {
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
