 html,
 body {
   margin: 0;
   background: bisque;
   font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
   color: #333;
   position: absolute;
   height: 100%;
   width: 100%;
 }
 #viewer .ebup-container {
  overflow-x: hidden !important;
}
